@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-white: #fff;
    --bg: blue;
}

* {
    box-sizing: border-box;
    font-family: "Andale Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {

    width: 100%;
    height: 100%;
}

header {
    height: 60px;
    color: var(--color-white);
    display: flex;
    align-items: center;
}

body {
    background-image: url("../img/fundo-verde.jpg");
    background-size: contain;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    padding: 10px;
}

nav h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;

}


a,
a:hover {
    color: unset;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}


#section {

    display: inline-block;
    width: 80%;
    margin: 100px 0 0 50px;
    padding: 0px 0px;
    align-items: center;
}


.btn-card {
    display: inline-block;
    background-color: none;
    height: 310px;
    width: 310px;
    padding: 10px;
    border: none;
    margin: 0 20px 0 20px;
}

.btn-card img {

    position: relative;
    height: 100%;
    width: 100%;
}

.btn-card img:hover {
    bottom: 8px;
    right: 2px;
}